@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700,800,900&display=swap);

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Raleway";
$fontSize: toRem(28); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #21212a; // Колір шрифту за замовчуванням
$yellowColor: #ffde40; // Колір шрифту за замовчуванням
$yellowGradientColor: linear-gradient(
	90deg,
	rgba(254, 222, 13, 1) 0%,
	rgba(246, 184, 1, 1) 100%
); // Колір шрифту за замовчуванням

$bgColor: #ffffff; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1730;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	background-color: $bgColor;
	@include adaptiveValue("font-size", 28, 20);
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}
// ========================================================================================================================================================
// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів загальних елементів проекту
@import "common";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів окремих блоків
@import "header";
@import "footer";
// ========================================================================================================================================================
// Hero
.hero {
	position: relative;
	@include adaptiveValue("padding-top", 280, 190, 2, 1730, 991.98);
	@media (min-width: $tablet) {
		padding-bottom: toRem(200);
		background: url("@img/bg/main-bg.svg") center top / cover no-repeat;
		&::before {
			z-index: -1;
			content: "";
			width: 100%;
			height: 100%;
			top: toRem(0);
			left: toRem(0);
			position: absolute;
			background: linear-gradient(to left, $yellowColor 50%, $bgColor 50%);
		}
	}
	@media (max-width: $tablet) {
		@include adaptiveValue("padding-top", 160, 130, 0, 991.98, 767.98);
		&::before {
			z-index: -1;
			content: "G";
			color: #f5f5f5;
			top: toRem(-200);
			font-weight: 700;
			right: toRem(-100);
			position: absolute;
			font-size: toRem(1000);
		}
	}
	&__container {
		display: grid;
		gap: toRem(50);
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $tablet) {
			gap: toRem(0);
			grid-template-columns: auto;
		}
	}

	&__title {
	}

	&__main {
	}

	&__heading {
		.heading__text {
			max-width: toRem(575);
		}
		&:not(:last-child) {
			margin-bottom: toRem(65);
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: toRem(35);
			}
		}
	}

	&__form {
		display: flex;
		gap: toRem(30);
		align-items: center;
		@media (max-width: em(1445)) {
			gap: toRem(20);
			flex-direction: column;
		}
		@media (max-width: $tablet) {
			margin: toRem(0) toRem(-15);
			background-color: $yellowColor;
			padding: toRem(35) toRem(15) toRem(75) toRem(15);
			border-radius: toRem(30) toRem(30) toRem(0) toRem(0);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(25) toRem(15) toRem(65) toRem(15);
		}
	}

	&__input {
		width: 100%;
	}

	&__button {
		width: 100%;
	}
}
// ========================================================================================================================================================
// Say
.say {
	position: relative;
	padding-top: toRem(160);
	padding-bottom: toRem(180);
	background-color: $mainColor;
	@media (min-width: em(2160)) {
		border-radius: toRem(0);
	}
	@media (max-width: em(2160)) {
		border-radius: toRem(92);
	}
	@media (max-width: em(1730.98)) {
		padding-top: toRem(100);
		padding-bottom: toRem(100);
		border-radius: toRem(0) toRem(50) toRem(30) toRem(30);
	}
	@media (min-width: $tablet) {
		margin-top: toRem(-130);
	}
	@media (max-width: $tablet) {
		margin-top: toRem(-40);
		padding-top: toRem(50);
		padding-bottom: toRem(60);
		border-radius: toRem(0) toRem(50) toRem(10) toRem(10);
	}
	@media (max-width: $mobileSmall) {
		padding-bottom: toRem(35);
	}
	&__container {
		display: grid;
		gap: toRem(70);
		position: relative;
		grid-template-columns: repeat(2, 1fr);
		&::before {
			top: -90%;
			content: "";
			height: 100%;
			left: toRem(-70);
			position: absolute;
			background: url("@img/say/car.png") left / contain no-repeat;
			@include adaptiveValue("width", 1005, 550, 2, 1730.98, 991.98);
		}
		@media (max-width: em(1760)) {
			gap: toRem(40);
			align-items: center;
		}
		@media (max-width: em(1730.98)) {
			align-items: start;
			&::before {
				top: -80%;
			}
		}
		@media (max-width: em(1445)) {
			&::before {
				top: -73%;
			}
		}
		@media (max-width: $tablet) {
			grid-template-columns: auto;
			&::before {
				display: none;
			}
		}
	}

	&__body {
	}

	&__heading {
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
	}

	&__button {
		padding: toRem(0) toRem(60);
		&:not(:last-child) {
			margin-bottom: toRem(95);
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: toRem(60);
			}
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(0) toRem(30);
		}
	}

	&__dotts {
	}

	&__gallery {
		display: grid;
		position: relative;
		grid-template-columns: 1fr;
	}

	&__slider {
		border-radius: toRem(36);
		@media (max-width: $tablet) {
			border-radius: toRem(20);
		}
	}

	&__wrapper {
	}

	&__slide {
	}

	&__arrows {
		width: 100%;
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: space-between;
		@media (min-width: em(1865.98)) {
			top: 50%;
			transform: translate(0, -50%);
		}
		@media (max-width: em(1865.98)) {
			bottom: toRem(-50);
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__arrow {
		color: $bgColor;
		transition:
			opacity 0.3s ease 0s,
			visibility 0.3s ease 0s,
			color 0.3s ease 0s;
		&.swiper-button-disabled {
			opacity: 0;
			visibility: hidden;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgba($yellowColor, 0.8);
			}
		}
		&--prew {
			transform: rotate(-180deg);
			@media (min-width: em(1865.98)) {
				margin-left: toRem(-50);
			}
		}

		&--next {
			@media (min-width: em(1865.98)) {
				margin-right: toRem(-50);
			}
		}
	}
}
.slide-say {
	border-radius: toRem(36);
	padding: toRem(50) toRem(35) toRem(60) toRem(35);
	@media (max-width: $tablet) {
		border-radius: toRem(20);
		padding: toRem(30) toRem(20) toRem(40) toRem(20);
	}
	&--yellow {
		background-color: $yellowColor;
	}

	&--white {
		background-color: $bgColor;
	}

	&__image {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}

	&__content {
	}

	&__title {
		max-width: toRem(250);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__text {
	}
}
// ========================================================================================================================================================
// Step
.step {
	@include adaptiveValue("padding-top", 160, 40);
	&__container {
		display: grid;
		@include adaptiveValue("gap", 70, 30);
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
		}
	}

	&__body {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 25);
		}
	}

	&__items {
		display: grid;
		@include adaptiveValue("gap", 55, 25);
	}

	&__item {
	}

	&__form {
	}
}
.item-step {
	display: flex;
	@include adaptiveValue("gap", 30, 20);
	@media (max-width: $mobileSmall) {
		text-align: center;
		align-items: center;
		flex-direction: column;
	}
	&__num {
		display: flex;
		font-weight: 700;
		height: toRem(80);
		border-radius: 50%;
		text-align: center;
		align-items: center;
		font-size: toRem(47);
		min-width: toRem(80);
		justify-content: center;
		padding-bottom: toRem(8);
		background-color: $yellowColor;
		@media (max-width: $mobile) {
			height: toRem(65);
			font-size: toRem(37);
			min-width: toRem(65);
		}
	}

	&__body {
	}

	&__title {
		max-width: toRem(540);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__text {
		max-width: toRem(440);
		img {
			margin-top: toRem(8);
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
	}
}
.form-step {
	background-color: $yellowColor;
	@include adaptiveValue("padding-top", 120, 40, 2, 1730, 991.98);
	@include adaptiveValue("padding-left", 75, 25, 2, 1730, 991.98);
	@include adaptiveValue("border-radius", 92, 25, 0, 1730, 991.98);
	@include adaptiveValue("padding-right", 75, 25, 2, 1730, 991.98);
	@include adaptiveValue("padding-bottom", 120, 40, 2, 1730, 991.98);
	@media (max-width: $tablet) {
		padding: toRem(30) toRem(17);
	}
	&__heading {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 25);
		}
	}

	&__main {
	}

	&__labels {
		display: grid;
		@include adaptiveValue("gap", 30, 20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 35);
		}
	}

	&__input {
	}

	&__button {
		width: 100%;
	}
}
// ========================================================================================================================================================
// Earn
.earn {
	position: relative;
	@include adaptiveValue("padding-top", 160, 40);
	&::before {
		content: "";
		height: 100%;
		margin: 0 auto;
		top: toRem(0);
		right: toRem(0);
		left: toRem(0);
		position: absolute;
		max-width: toRem(1920);
		background: url("@img/earn/decore.svg") center top / contain no-repeat;
	}
	@media (max-width: $tablet) {
		&::before {
			top: toRem(20);
		}
	}
	&__cover {
		overflow: hidden;
		position: relative;
		margin: toRem(0) auto;
		max-width: toRem(1920);
		border-radius: toRem(92);
		background-color: $mainColor;
		&::after {
			content: "";
			height: 100%;
			bottom: toRem(0);
			position: absolute;
			background-size: contain;
			background-position: bottom;
			background-repeat: no-repeat;
			background-image: url("@img/earn/image.png");
			@include adaptiveValue("right", -50, -200, 2, 1730, 991.98);
			@include adaptiveValue("width", 1040, 700, 2, 1730, 991.98);
		}
		&::before {
			content: "G";
			top: toRem(-316);
			font-weight: 700;
			position: absolute;
			right: toRem(-260);
			color: $yellowColor;
			@include adaptiveValue("font-size", 1490, 1000, 2, 1730, 991.98);
		}
		@media (max-width: em(1830)) {
			border-radius: toRem(32);
		}
		@media (max-width: $tablet) {
			padding-top: toRem(40);
			padding-bottom: toRem(100);
			&::after {
				width: toRem(500);
				right: toRem(-200);
				bottom: toRem(-100);
			}
			&::before {
				opacity: 0.8;
				top: toRem(0);
				right: toRem(-130);
				font-size: toRem(700);
			}
		}
		@media (max-width: $mobileSmall) {
			border-radius: toRem(15);
			&::after {
				width: toRem(440);
				bottom: toRem(-50);
			}
			&::before {
				opacity: 0.7;
				right: toRem(-150);
				font-size: toRem(600);
			}
		}
	}

	&__container {
		display: grid;
		grid-template-columns: 50.289017% auto;
		@include adaptiveValue("padding-top", 130, 50, 2, 1730, 991.98);
		@include adaptiveValue("padding-bottom", 160, 50, 2, 1730, 991.98);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
		}
	}

	&__body {
		z-index: 1;
		position: relative;
	}

	&__heading {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
		.heading__title {
			position: relative;
			span {
				bottom: toRem(3);
				right: toRem(80);
				font-weight: 700;
				color: $mainColor;
				line-height: 135%;
				position: absolute;
				letter-spacing: 0.02em;
				border-radius: toRem(26);
				transform: rotate(-4deg);
				padding: toRem(19) toRem(60);
				background-color: $yellowColor;
				@include adaptiveValue("font-size", 25, 18);
				@media (max-width: em(1730.98)) {
					right: toRem(0);
					bottom: toRem(10);
					position: relative;
					border-radius: toRem(20);
					padding: toRem(15) toRem(30);
				}
				@media (max-width: $mobile) {
					bottom: toRem(5);
					border-radius: toRem(10);
					padding: toRem(5) toRem(15);
				}
			}
		}
	}

	&__advants {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 40);
		}
	}

	&__link {
		gap: toRem(20);
		font-weight: 800;
		line-height: 135%;
		color: $yellowColor;
		align-items: center;
		display: inline-flex;
		letter-spacing: 0.02em;
		justify-content: flex-end;
		text-transform: uppercase;
		flex-direction: row-reverse;
		transition:
			gap 0.5s ease 0s,
			letter-spacing 0.5s ease 0s;
		@include adaptiveValue("font-size", 25, 18);
		@media (any-hover: hover) {
			&:hover {
				gap: toRem(30);
				letter-spacing: 0.03em;
			}
		}
		@media (max-width: $mobile) {
			gap: toRem(12);
		}
		@media (max-width: em(420)) {
			gap: toRem(7);
			max-width: toRem(100);
			align-items: start;
			flex-direction: column;
		}
	}

	&__image {
	}
}
.advants-earn {
	display: flex;
	color: $bgColor;
	flex-wrap: wrap;
	@include adaptiveValue("gap", 30, 15);
	&__item {
		gap: toRem(17);
		align-items: center;
		display: inline-flex;
		border-radius: toRem(26);
		background-color: #323241;
		padding: toRem(14) toRem(26);
		@media (max-width: em(1730.98)) {
			padding: toRem(12) toRem(20);
		}
		@media (max-width: $tablet) {
			border-radius: toRem(20);
			padding: toRem(5) toRem(15);
		}
	}

	&__icon {
	}

	&__text {
		font-weight: 700;
		line-height: 135%;
		letter-spacing: 0.02em;
		@include adaptiveValue("font-size", 25, 20);
	}
}
// ========================================================================================================================================================
// Deal
.deal {
	@include adaptiveValue("padding-top", 200, 40);
	&__container {
		display: grid;
		@include adaptiveValue("gap", 30, 15);
		grid-template-columns: 53.294798% 45.086705%;
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}

	&__left {
		display: grid;
		position: relative;
		grid-template-rows: repeat(3, 1fr);
		@include adaptiveValue("gap", 30, 15);
	}

	&__heading {
		@media (min-width: $tablet) {
			top: toRem(-50);
			position: absolute;
		}
	}

	&__item {
	}

	&__right {
		display: grid;
		@include adaptiveValue("gap", 30, 15);
	}
}
.item-deal {
	overflow: hidden;
	border-radius: toRem(36);
	@include adaptiveValue("padding-top", 55, 45, 2, 1730, 991.98);
	@include adaptiveValue("padding-left", 40, 30, 2, 1730, 991.98);
	@include adaptiveValue("padding-right", 40, 30, 2, 1730, 991.98);
	@include adaptiveValue("padding-bottom", 65, 50, 2, 1730, 991.98);
	@media (max-width: $tablet) {
		padding: toRem(20);
		border-radius: toRem(20);
	}
	@media (max-width: $mobile) {
		padding: toRem(20) toRem(15) toRem(50) toRem(15);
	}
	@media (max-width: $mobileSmall) {
		padding: toRem(20) toRem(10) toRem(50) toRem(10);
	}
	&--01 {
		background: #f5f5f5 url("@img/deal/01.svg") right bottom / contain no-repeat;
		@media (min-width: $tablet) {
			grid-row: 2 / span 1;
		}
	}

	&--02 {
		background: #f5f5f5 url("@img/deal/02.svg") right bottom / contain no-repeat;
		@media (min-width: $tablet) {
			grid-row: span 2;
		}
	}

	&--03 {
		background: $yellowColor url("@img/deal/03.svg") right bottom / contain no-repeat;
	}

	&--04 {
		background: $yellowColor url("@img/deal/04.svg") right bottom / contain no-repeat;
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__text {
		max-width: toRem(580);
	}
}
// ========================================================================================================================================================
// Stock
.stock {
	@include adaptiveValue("padding-top", 160, 40);
	&__container {
	}

	&__title {
		display: flex;
		gap: toRem(20);
		align-items: center;
		justify-content: flex-end;
		flex-direction: row-reverse;
		&::before {
			font-size: toRem(24);
			padding-top: toRem(15);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
		@media (max-width: $mobile) {
			&::before {
				font-size: toRem(15);
				padding-top: toRem(12);
			}
		}
	}

	&__slider.swiper {
		overflow: visible;
		position: relative;
		max-width: toRem(675);
		margin: toRem(0) auto;
	}

	&__wrapper {
	}

	&__slide {
	}

	&__arrows {
		top: 50%;
		width: 100%;
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: space-between;
		transform: translate(0px, -50%);
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__arrow {
		display: flex;
		width: toRem(50);
		height: toRem(50);
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		transition:
			background-color 0.5s ease 0s,
			color 0.5s ease 0s,
			font-size 0.5s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $bgColor;
				font-size: toRem(24);
				background-color: $mainColor;
			}
		}
		&--prew {
			margin-left: toRem(-65);
			transform: rotate(-180deg);
		}

		&--next {
			margin-right: toRem(-65);
		}
	}

	&__dotts {
		margin-top: toRem(30);
		justify-content: center;
		@media (min-width: $tablet) {
			display: none;
		}
	}
}
.slide-stock {
	display: grid;
	justify-items: start;
	border-radius: toRem(72);
	background-color: #f5f5f5;
	padding: toRem(120) toRem(65);
	@include adaptiveValue("gap", 60, 25);
	transition: background-color 0.3s ease 0s;
	&.swiper-slide-active {
		background-color: $yellowColor;
		.slide-stock__button {
			color: $bgColor;
			background-color: $mainColor;
			@media (any-hover: hover) {
				&:hover {
					color: $yellowColor;
					background-color: #323241;
				}
			}
		}
	}
	@media (max-width: $tablet) {
		border-radius: toRem(32);
		padding: toRem(60) toRem(30);
	}
	@media (max-width: $mobile) {
		border-radius: toRem(25);
		padding: toRem(30) toRem(20);
	}
	&__label {
		font-weight: 700;
		line-height: 135%;
		display: inline-flex;
		letter-spacing: 0.02em;
		border-radius: toRem(26);
		background-color: $bgColor;
		padding: toRem(20) toRem(60);
		@include adaptiveValue("font-size", 25, 18);
		@media (max-width: $mobile) {
			width: 100%;
			justify-content: center;
			border-radius: toRem(15);
			padding: toRem(15) toRem(0);
		}
	}

	&__wins {
		border-bottom: toRem(1) solid $mainColor;
		@include adaptiveValue("padding-bottom", 60, 25);
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}

	&__items {
		display: grid;
		gap: toRem(30);
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(5);
		align-items: center;
		span {
			display: flex;
			font-weight: 700;
			height: toRem(42);
			border-radius: 50%;
			align-items: center;
			min-width: toRem(42);
			margin-right: toRem(20);
			justify-content: center;
			background-color: $bgColor;
			@include adaptiveValue("font-size", 25, 18);
		}
		b {
			margin: toRem(0) toRem(7);
		}
		@media (max-width: $mobileSmall) {
			span {
				margin-right: toRem(10);
			}
		}
	}

	&__cond {
	}

	&__text {
	}

	&__button {
		width: 100%;
		background-color: $bgColor;
		@media (any-hover: hover) {
			&:hover {
				color: $bgColor;
				background-color: #323241;
			}
		}
	}
}
// ========================================================================================================================================================
// Faq
.faq {
	@include adaptiveValue("padding-top", 160, 40);
	&__container {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 25);
		}
	}

	&__spollers {
	}
}
.spollers-faq {
	&__item {
		padding-bottom: toRem(25);
		border-bottom: toRem(4) solid #f5f5f5;
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}

	&__title {
		display: flex;
		gap: toRem(15);
		cursor: pointer;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		&::before {
			display: flex;
			height: toRem(75);
			border-radius: 50%;
			align-items: center;
			min-width: toRem(75);
			font-size: toRem(32);
			justify-content: center;
			background-color: #f5f5f5;
			transition: background-color 0.3s ease 0s;
		}
		&._spoller-active {
			&::before {
				content: "\e902";
				background-color: $yellowColor;
			}
		}
		@media (max-width: $tablet) {
			&::before {
				height: toRem(50);
				min-width: toRem(50);
				font-size: toRem(20);
			}
		}
	}

	&__body {
		padding-top: toRem(20);
		max-width: toRem(1500);
	}
}
// ========================================================================================================================================================
